@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;600;700&family=Roboto&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

:root {
    --verde: #005c53;
    --azul: #1B98E0;
    --white: #E8F1F2;
    --black: #231F20;
    --orange: #BB4430;

    --font-padrao: "Poppins", sans-serif;
}

body,
html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #1b1a1a, #252323c7);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to left, transparent, #1f2123, #1f2123, transparent);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.651);
    height: 54px;
    align-items: center;
    display: flex;
    flex: 1 1 100vw;
    justify-content: center;
}
span#ham{
    color: white;
    display: flex;
    flex: 0 1 50px;
    justify-content: right;
    align-items: center;
    cursor: pointer;}
nav,.menu {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 12px 25px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.39);

    color: #919191;


    text-decoration: none;

    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;

    background-image: linear-gradient(to bottom, #1B98E0 49%, #065481 95%);
    border-radius: 15px;



    transition: all .5s;
    z-index: -1;
}

.item::before {
    width: 100%;
    height: 0%;

    bottom: 0%;
    left: 0%;


}

.item:hover::before {
    height: 100%;

}

.button:hover {
    color: white;
    transition: color 1s;
    filter: contrast(1.3) hue-rotate(-15deg) saturate(.75);
    transition: filter 4s ease-in;
}



/*
.fm{display: flex;
    flex: 1 1 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    .fm section div {display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
    font-weight: bold;}

*/

/* First item - Button 6
        .item::before {
            width: 100%;
            height: 100%;

            bottom: 0;
            left: 0;

            transform: scaleY(0);
            transform-origin: top;
            transition: transform 250ms ease-in;
        }

        .item:hover::before {
            transform: scaleY(1);
            transform-origin: bottom;
        }
        */