@charset "UTF-8";

@media screen and (min-width: 768px) {

header {
    background-image: linear-gradient(to left, transparent, #1f2123, #1f2123, transparent);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.651);
    height: 54px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.material-icons{display: none;}

.container {
    z-index: 1;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 12px 25px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.39);

    color: #919191;


    text-decoration: none;

    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;

    background-image: linear-gradient(to bottom, #1B98E0 49%, #065481 95%);
    border-radius: 15px;



    transition: all .5s;
    z-index: -1;
}

.item::before {
    width: 100%;
    height: 0%;

    bottom: 0%;
    left: 0%;


}

.item:hover::before {
    height: 100%;

}

.button:hover {
    color: white;
    transition: color 1s;
    filter: contrast(1.3) hue-rotate(-15deg) saturate(.75);
    transition: filter 4s ease-in;
}

}