@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;600;700&family=Roboto&display=swap');
        :root {
            --cor0: #EAEAEA;
            --cor1: #893168;
            --cor2: #4A1942;
            --cor3: #2E1C2B;
            --cor4: #050404;
            
            --font-padrao: "Poppins", sans-serif;
            --font-destaque: "Berkshire Swash", cursive;
            
        }

        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        body{display: flex;
            flex: 1 1 100vw;
            flex-wrap: wrap;
            font-family: var(--font-padrao);
            background-color: #FBFBF8;
        }
        
        

        header{display: flex;
            flex: 1 1 100vw;
            height: 50px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;}

        .logo{font-family: var(--font-destaque);
        font-size: 2em;}

        nav{display: flex;
        flex-wrap: wrap;
        }
        
        a{color: var(--cor1);
        font-weight: 600;
        margin-left: 20px;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;
        text-shadow: 0 0 1px black;}

        a:hover{color: var(--cor0);
        background-color: var(--cor2);
        transition: 0.5s;
        }

        
        main{display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        align-items: center;
        height: 640px;
        
        }

        article{display: flex;
        margin: 40px;
        flex: 1 1 500px;
        flex-wrap: wrap;
        padding: 0px;
        align-items: center;
        text-shadow: 0 0 1px black;
        max-width: 600px;
        justify-content: center;
        
        }

        .img-main{display: flex;
        margin: 3px;
        flex-wrap: wrap;
        flex: 1 1 500px;
        max-width: 600px;
        height: 400px;
        align-items: center;
        justify-content: center;}

        h1{font-family: var(--font-padrao);
        font-size: 65px;
        font-weight: 700;
        color: var(--cor1);
        
    }
        p{
        padding: 15px;
        text-indent: 20px;
        font-weight: 400;}

        p:hover{background-color: #4A1942;
        border-radius: 15px;
        color: white;}

        .section1{display: flex;
        background-color: #4A1942;
        width: 100%;
        height: 500px;
        flex: 1 1 100%;
        }

        aside{display: flex;
        height: 500px;
        flex: 1 1 100vw;}

        table{width: 500px;
            border-collapse: collapse;
            margin: 50px;
            position: relative;}

        .th-2{width: 50px;}    
        thead > tr > th{
            position: sticky;
            top: 0;
            background-color: gray;}
        
            caption{background-color: azure;}
        

        tbody > tr:nth-child(odd){background-color: lightgray;}

        td,th{border: 1px solid black;}

        td, .num{padding: 8px;}
        .num{text-align: right;
        }
        th{background-color: gray;}
        tfooter > td{background-color: gray;
        text-align: right;}

        footer{display: flex;
        background-color: var(--cor2);
        height: 350px;
        flex: 1 1 100vw;}