@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;600;700&family=Roboto&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

:root {
    --verde: #005c53;
    --azul: #1B98E0;
    --white: #E8F1F2;
    --black: #231F20;
    --orange: #BB4430;

    --font-padrao: "Poppins", sans-serif;
}

body,
html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #1b1a1a, #252323c7);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to left, transparent, #1f2123, #1f2123, transparent);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.651);
    height: 54px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    z-index: 1;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 12px 25px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.39);

    color: #919191;


    text-decoration: none;

    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;

    background-image: linear-gradient(to bottom, #1B98E0 49%, #065481 95%);
    border-radius: 15px;



    transition: all .5s;
    z-index: -1;
}

.item::before {
    width: 100%;
    height: 0%;

    bottom: 0%;
    left: 0%;


}

.item:hover::before {
    height: 100%;

}

.button:hover {
    color: white;
    transition: color 1s;
    filter: contrast(1.3) hue-rotate(-15deg) saturate(.75);
    transition: filter 4s ease-in;
}

section {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;

}

.fm {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.514);
    background-image: linear-gradient(35deg, #231f1f, #323232);
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


div {
    margin: 0 auto;
    color: #919191;
    font-weight: bold;
}

.div-in {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 300px;

    align-items: left;
}

h1 {

    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    transition: 500ms linear;
    filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.37));
}

.gradient {
    background-image: linear-gradient(to bottom, #1b98e0 56%, #065481 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #005c53;
}

h1:hover {
    transform: scale(1.1);
    filter: contrast(1.3) hue-rotate(-15deg) saturate(.75) drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.308));
}

#btn {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #1B98E0 49%, #065481 95%);
    background-size: cover;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #E8F1F2;
    font-family: "Poppins", sans-serif;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.247);
}

#btn:hover {
    filter: contrast(1.3) hue-rotate(-15deg) saturate(.75);
    transition: filter .3s;



}



.div-in>input {
    border-radius: 15px;
    height: 30px;
    border: none;
    text-indent: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.247);
}

.clogin,
.cpass {
    margin: 4px;
    font-weight: 600;
    text-shadow: 0 0 .5em rgba(0, 0, 0, 0.384);
}
/* Form2 */

fieldset{width: 350px;}
legend{margin-left: 20px;}
#imsg{text-indent: 1px;}
textarea{resize:none;
width: 250px}
#imsg::placeholder{text-indent: 0px;}

/* First item - Button 6
        .item::before {
            width: 100%;
            height: 100%;

            bottom: 0;
            left: 0;

            transform: scaleY(0);
            transform-origin: top;
            transition: transform 250ms ease-in;
        }

        .item:hover::before {
            transform: scaleY(1);
            transform-origin: bottom;
        }
        */