@charset "UTF-8";


*{padding: 0;
    margin: 0;}

    body{display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/62.-Amour_1.jpg);
    }
    main{display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    transition: width .3s, height .3s ease;;
}

    form{display: flex;
    width: 300px;
    height: 400px;
    background-color: #eaeaea73;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.151);
}
    .inpcss{border-radius: 10px;
    text-decoration: none;
    border: none;
    height: 30px;
    text-indent: 15px;
    outline: none;
    
}
.inpcss:focus-within{background-color: white;}


label{font-family: "Poppins", sans-serif;
font-weight: 600;}

.flexbut{display: flex;
width: 100%;
align-items: center;
justify-content: center;}
.inbut{border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
border: none;
width: 150px;
height: 50px;
margin: 5px 0px 5px 0px;
cursor: pointer;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.151);
}

.inbut:hover{
background-color: rgba(255, 255, 255, 0.877);}

#formf{display: flex;
gap: 10px;
width: 100vw;
height: 100%;
flex-direction: column;
justify-content: center;
}

/* Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px */

@media screen and (min-width: 992px) and (max-height: 1200px){
    body{background: url(assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg) center no-repeat;
    background-size: cover;}

form{width: 350px;
height: 450px;}

}



/* $(document).ready(function(){
    $("#hamb").click(function () {
$(this).toggleClass("active");
$(".menu").toggleClass("active");
    });
});

function mudouTamanho() {
    if(window.innerWidth <= 980) {
        navi.style.display = 'block'
    } else {
        navi.style.display = 'none'
    }
} */