@charset "UTF-8";


@media screen and (max-width: 768px) {
html,body{width: 100vw;
height: 100vh;}

#hamb1{display: block;

}

div.sign{height: 900px;
width: 200px;}

div.container{display: flex;
width: 500px;
height: 400px;
align-items: center;
justify-content: right;

background-color: aquamarine;

}
}