@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;600;700&family=Roboto&display=swap');

*,*::before,*::after{padding: 0px;
margin: 0px;
box-sizing: border-box;
list-style: none;
overflow: hidden;}

body{width: 100%;
height: 100vh;
background-image: url(assets/iiiiii.jpg);
background-position: center, right;
background-repeat: no-repeat;
background-size: cover;
overflow: auto;
}
header{display: flex;
width: 100%;
height: 60px;
align-items: center;
justify-content: space-between;}

nav{display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding: 15px;
}

.imgl{display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav,a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
}

.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.sigup{
color: white;
padding: 5px 10px;


}
#hamb1{
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

div.container_hamb{display: flex;
width: 100px;
height: 200px;
background-color: #e21f43;
z-index: 9999;
justify-content: right;
align-items: center;
float: right;
}

.menu{
    display: none;
    padding: 10px;
    
}

.menun:hover{text-underline-offset: 5px;
text-decoration-line: underline;
text-decoration-color: #e21f43;
text-decoration-thickness: 2px;
}
.sigup:hover{text-underline-offset: 5px;
    text-decoration-line: underline;
    text-decoration-color: #e21f43;
    text-decoration-thickness: 2px;}

.menun{padding: 10px;}


.sig-container{display: flex;
    height: 300px;
align-items: center;
justify-content: center;
position: relative;}

#sigbut{padding: 5px 20px;
    color: #e21f43;
    font-size: 2em;
background-image: url(assets/62.-Amour_1.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 50px;
width: 200px;
text-align: center;
transition: .5s ease;
}

#sigbut:hover{position: absolute;
transform: scale(1.1);
transition: .5s ease;
}

@media screen and (min-width: 780px){
    body{background-image: url(assets/iiiiii.jpg);
    background-position: center,left;}
    .menu{display: flex;
    gap: 30px;}

    div.container_hamb{display: none;}
    .sign{justify-content: center;
    width: 56px;}
    

    header{display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;}
        
        nav{display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        }

    
}