@charset "UTF-8";

*{padding: 0;
margin: 0;
box-sizing: border-box;}

html{width: 100vw;
height: 100vh;
position: relative;
}

body{background-image: url(../assets/imagensmedia/back-phone.jpg);
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-position: center, left;
}

header{
height: 100%;
width: 100%;
display: flex;
justify-content: space-around;

}

.navbar{display: flex;
    background-color: rgba(240,248,255, 0.637);
    border-radius: 10px;
    width: 900px;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

.nav-menu{list-style: none;}

.cimg{width: 80px;
height: 80px;}

#img1{display: flex;}
#img2{display: none;}
#img3{display: none;}
#img4{display: none;}
#img5{display: none;}

footer{display: flex;
    height: 556px;
    width: 100%;
    justify-content: space-around;
    align-items: end;
    


}
div{display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -2px -2px 5px #e0c3fc, 2px 2px 5px #8ec5fc;
    margin-bottom: 5px;

    
}
p{font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
align-items: end;}
a,p{color: #2E303D;}
a{text-decoration-color: #e0c3fc;}